textarea {
    min-height: 400px;
}

body {
    padding: 10px;
}

.view-email{
    font-weight: bold;
    padding-right: 1rem;
}

.view-subject{
    
}

.view-timestamp{
    color: lightgrey;
    text-align: end;
}

table{
    width: 800px;
}

td{
    padding: 10px;
}

.table-hover tbody tr:hover {
    background-color: #eaf4ff !important;  /* Custom hover */
  }
  
  .table-active {
    background-color: #d1ecf1 !important;  /* Custom active */
  }
  